<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'herreria/base.html' %}
    {% block content %}
    <h1>Acerca de esta pagina</h1>
    <p>Esta pagina fue creada con django, para el trabajo de coder house</p>
    <p>la herreria esta inpirada en el lugar donde trabajo</p>
    <p>es una herreria chica de 3 personas en un pueblo llamado o´higgins</p>
    {% endblock %}
</body>
</html>