<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-4" style="padding: 20px; text-align: center;">
        <div class="row" style="display: flex; justify-content: center; gap: 20px;">
            <div class="col">
                <a class="btn" href="{% url 'inicio' %}" style="padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); transition: background-color 0.3s;">
                    Inicio
                </a>
            </div>
            <div class="col">
                <a class="btn" href="{% url 'about' %}" style="padding: 10px 20px; background-color: #17a2b8; color: white; text-decoration: none; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); transition: background-color 0.3s;">
                    Acerca de
                </a>
            </div>
            <div class="col">
                <a class="btn" href="{% url 'listar_productos' %}" style="padding: 10px 20px; background-color: #28a745; color: white; text-decoration: none; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); transition: background-color 0.3s;">
                    Productos
                </a>
            </div>
            <div class="col">
                <a class="btn" href="{% url 'listar_pedidos' %}" style="padding: 10px 20px; background-color: #96661a; color: white; text-decoration: none; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); transition: background-color 0.3s;">
                    Pedidos
                </a>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock content %}
</body>
</html>