{% extends 'herreria/base.html' %}

{% block content %}
  <div class="container mt-4">

    <div style="text-align: center; margin-bottom: 40px;">
      <a href="{% url 'producto_create' %}" style="padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px; display: inline-block;">
        Crear un nuevo Producto
      </a>
    </div>

    <h1>Lista de Productos</h1>

    <form method="get" action="{% url 'listar_productos' %}" style="margin-bottom: 20px; display: flex; justify-content: center; align-items: center; gap: 10px;">
      <input type="text" name="search" placeholder="Buscar productos..." value="{{ request.GET.search }}" style="padding: 8px; width: 80%; border-radius: 5px; border: 1px solid #ccc;">
      <button type="submit" style="padding: 8px 16px; background-color: #007bff; color: white; border-radius: 5px; border: none; cursor: pointer;">Buscar</button>
    </form>

    <div style="display: flex; flex-wrap: wrap; gap: 20px;">
      {% for producto in productos %}
        <div style="flex: 1 1 calc(33.33% - 20px); padding: 20px; border: 1px solid #ddd; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
          <h3>{{ producto.nombre }}</h3>
          
          <div style="text-align: center; margin-bottom: 10px;">
            {% if producto.imagen %}
              <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" style="width: 500px; height: 400px; object-fit: cover; border-radius: 8px;">
            {% else %}
              <img src="/static/default-image.jpg" alt="Imagen no disponible" style="width: 100px; height: 100px; object-fit: cover; border-radius: 8px;">
            {% endif %}
          </div>

          <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
          <p><strong>Stock:</strong> {{ producto.stock }}</p>
          <p><strong>Precio:</strong> ${{ producto.precio }}</p>

          <div style="margin-top: 15px;">
            <a href="{% url 'producto_update' producto.pk %}" style="padding: 8px 16px; background-color: #28a745; color: white; text-decoration: none; border-radius: 5px; display: inline-block; margin-top: 10px;">Editar</a>
            <a href="{% url 'producto_delete' producto.pk %}" style="padding: 8px 16px; background-color: #dc3545; color: white; text-decoration: none; border-radius: 5px; display: inline-block; margin-top: 10px;">Eliminar</a>
          </div>
        </div>
      {% empty %}
        <p>No hay productos disponibles.</p>
      {% endfor %}
    </div>


    <div style="text-align: center; margin-top: 40px; margin-bottom: 40px;">
      <a href="{% url 'producto_create' %}" style="padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px; display: inline-block;">
        Crear un nuevo Producto
      </a>
    </div>
  </div>
{% endblock %}