{% extends 'herreria/base.html' %}

{% block content %}
    <h1>Lista de Productos</h1>
    <ul>
        {% for producto in productos %}
            <li>
                <a href="{% url 'producto_update' producto.pk %}">{{ producto.nombre }}</a> - ${{ producto.precio }}

                <!-- Mostrar la imagen del producto si existe -->
                {% if producto.imagen %}
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" style="width: 100px; height: 100px;">
                {% endif %}
                <a href="{% url 'producto_update' producto.pk %}">Editar</a> | 
                <a href="{% url 'producto_delete' producto.pk %}">Eliminar</a>
            </li>
        {% empty %}
            <p>No hay productos disponibles.</p>
        {% endfor %}
    </ul>
    <a href="{% url 'producto_create' %}">Crear un nuevo Producto</a>
{% endblock %}